
/* @media only screen and (max-width: 1020px) {
    body {
        background-color: rgb(7, 11, 255);
    }
  } */



@media only screen and (max-width: 1023px) {
    body {
        background-color: var(--gray-black);
        margin: 5px;
    }

    .header-home-section {
        align-items: center;
    }
    .logo-header {
        height: 24px;
        margin: 0;
        margin-left: 20px;
    }
    .socialMedia-section {
        margin-right: 10px;
    }
    .socialMedia-section img {
        height: 27px;
    }
    /* text */

    .Sub-tittle {
        font-size: 3rem;
        letter-spacing: -1.5px;
        font-weight: 300;
    }

    .Text-paragraph {
        font-size: 1.4rem;
    }

    .Sub-Subtittle {
        font-size: 1.8rem;
    }

    /* hero */

    .hero-home img {
        width: 200px;
        height: 200px;
    }
    .hero-home h1 {
        font-size: 3.5rem;
    }

    .section-home--1 {
        padding: 40px 30px;
        display: block;
        height: auto;
    }
    .section-home1-right {
        padding-top: 20px;
    }

    .section-home--2 {
        margin-top: 10px;
        text-align: center;
        height: auto;
        padding: 20px;
    }

    .carousel__container .carousel__after {
        width: 20px;
        height: 20px;
        right: -25px;
    }
    .carousel__container .carousel__before {
        width: 20px;
        height: 20px;
        left: -10px;
    }

    .section-home--4 .portfolio-container {
        display: block;
        text-align: center;
        max-width: 400px;
    }
    .portfolio-container img {
        min-width: 80px;
        max-width: 150px;
        height: auto;
    }

    .logo-footer img {
        max-width: 210px;
    }

}

